/* CSS code for the element that has the id map */

#map {
    width: 1000px;   /* Dimensions of the map element */
    height: 600px;
}

/* CSS code for the elements that have the class dot */
.beautiful_button {
    background-color: steelblue;   /* The buttons are colored in steelblue */
    border: none;   /* The buttons have no border */
    color: white;   /* The text inside the buttons is white */
    padding: 15px 32px;   /* Defines the space in pixels between the text inside the buttons and their edges */
    text-align: center;   /* The text inside the buttons is centered */
    font-size: 16px;   /* Font size of the text inside the buttons */
}

#buttons_container{
    width: 1000px;   /* Dimensions of the buttons_container element */
    text-align: center;   /* Centers the contents of the buttons_container element */
}
/* BAR CHART */
.bar {
    fill: steelblue;   /* Colors the bars of the bar chart in steelblue */
}
.axis text {
    font: 10px sans-serif;   /* Sets the font family to sans-serif the the font-size to 10px */
}
.axis path {
    fill: none;   /* Otherwise, the axis would look like a thick line */
    stroke: #000000;   /* Sets the color of the axis to black */
}
#plot_facts {
    width: 1000px;   /* Dimensions of the barchart element */
    height: 600px;   /* Note : barchart is an svg, thus it is important to set its size, otherwise the elements inside it won't appear */
}