<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFOVIS</title>
    <!-- Import des sources JS -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <script src="/static/js/leaflet.awesome-markers.js"></script>
    <script src="/static/dist/leaflet.markercluster-src.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>
    <!-- JS pour graphiques -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Import des stylesheets -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet'></link>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <!--link rel="stylesheet" href="/static/css/style.css"-->
    <link rel="stylesheet" href="/static/css/leaflet.awesome-markers.css"></link>
    <link rel="stylesheet" href="/static/dist/MarkerCluster.css"></link>
    <link rel="stylesheet" href="/static/dist/MarkerCluster.Default.css"></link>
    <!-- Code CSS personnalisé -->
    <link rel="stylesheet" href="/static/css/master.css"></link>
    <!-- Code JS pour la carte-->
    <script src="/static/js/script.js"></script>
</head>
<body>
    <ion-icon name="earth"></ion-icon>

    <h1>Where (not) to go in the world ?</h1>

    <!-- div pour affichage de la carte-->
    <div id="map"></div>

    <!-- div pour le choix des dates -->
    <div id="choice_date">
        <h2>Choice for time range (lower/upper bound)</h2>
        <input type="number" id="DateInf" value="-500">
        <input type="number" id="DateSup" value="2021"><br><br>
    </div>

    <!-- div pour choix des séparations (Pays/Plaques/Continents) -->
    <div id="choice_sep">
        <h2>Which delimitations ?</h2>
        <select name="select_sep" id="select_sep">
            <option value="P">Countries</option>
            <option value="T">Tectonic plates</option>
            <option value="C">Continents</option>
        </select><br><br>

        <button id="resetZoom">global view</button>
    </div>

    <!-- div pour choix des events-->
    <div id="choice_events">
        <h2>Which disaster ?</h2>
        <label for="eq_event">Earthquakes :</label>
        <input type="checkbox" name="eq_event" id="eq_event"><br>

        <label for="tsu_event">Tsunamis :</label>
        <input type="checkbox" name="tsu_event" id="tsu_event"><br>

        <label for="vol_event">Volcanos : </label>
        <input type="checkbox" name="vol_event" id="vol_event"><br><br>

        <button id="event_btn">Validation</button>
    </div>

    <!-- div pour affichage des graphiques sur les faits -->
    <div id="facts">
        <canvas id="plot_facts"></canvas>
        <div id="nav_btn_facts">
            <button class="prev_fact" id="prev_facts_1">&larr;</button>
            <button class="next_fact" id="next_facts_1">&rarr;</button>
        </div>
    </div>

    <!-- div pour affichage des graphique sur les conséquences -->
    <div id="csq">
        <canvas id="plot_csq"></canvas>
        <div id="nav_btn_csq">
            <button class="prev_csq" id="prev_csq_1">&larr;</button>
            <button class="next_csq" id="next_csq_1">&rarr;</button>
        </div>
    </div>

</body>
</html>
