<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet'></link>
    <title>INFOVIS</title>

</head>
<body>
    
    <script src="/static/js/script.js">
        
    </script>

    <h1>Où (ne pas) aller dans le monde ?</h1>

    <div id="map">
        
    </div>

    <div id="plot_cause">
        <p>to do...</p>
    </div>

    <div id="plot_csq">
        <p>to do...</p>
    </div>
    

</body>
</html>